.banner {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 5px;
    p {
        margin: 0;
        a {
            margin-left: 30px;
            text-decoration: underline;
        }
    }
}