<div class="card">
  <div class="card-content">
  <span class="card-title">Account</span>

  <a class="left create-link" [routerLink]="['./../account/create-edit-account']" >Create account</a>
  <div class="search-by">Search by</div>
  <div class="row">
      <div class="input-field radio-btn-group col s12">
        <p>
          <label>
            <input class="with-gap" name="accountSearchBy" value="email" [(ngModel)]="accountSearchBy"  type="radio" checked />
            <span>Email</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="accountSearchBy" value="phone" [(ngModel)]="accountSearchBy" type="radio" />
            <span>Phone</span>
          </label>
        </p>
      </div>
      <div class="input-field col s12">
      <input type="text" id="serachaccount" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" required>
      <label for="serachaccount">Account {{accountSearchBy}}</label>            
      <button class="waves-effect waves btn-small white lighten-1 search" (click)="onSearch()">Search</button>
      <div *ngIf="minLengthError" class="helper-text red-text left">
        <span>Search keyword should be minimum 3 characters</span>
      </div>
    </div>
  </div>

  <h6 class="red-text" *ngIf="errorMessageToggle">{{errorMessage}}</h6>

  <ul class="collection" *ngIf="accounts">
      <li class="collection-item" *ngFor="let account of accounts; let i=index" (click)="setAccount(account)">
        <span class="title">{{account.first_name}} {{account.last_name}}</span>
        <span>{{account.phone}}</span>
      </li>
  </ul>
</div>
</div>
